$(function () {
	
	$('#home_slider').flexslider({
		animation : 'slide',
		controlNav : true,
		directionNav : true,
		animationLoop : true,
		slideshow : true,
		slideshowSpeed:10000,
		useCSS : false
	});
	
});

var str = "";
str += "<ul class='slides'>";
{loop $pinfo $k $p}
str += "<li><a href='{APP_PATH}index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$p['id']}'><img src='{$p['setting']['1']['imageurl']}' /><img src='{IMG_PATH}hucai/bg/10.jpg' class='other' /></a></li>"; 
{/loop}     
str += "</ul>";
$('#flex_viewport').html(str);
