{template "content","header"}
 <div class="nybg">
  <div class="sidebarbg">
    <div class="sidebar">
      <h2 class="title">新闻中心</h2>
      {pc:get sql="SELECT * FROM hc_category  WHERE parentid=$catid AND siteid=$siteid" return="data"}
      
      <ul style="padding-bottom:46px;">
      {loop $data $r}
        <li><a href="{$r[url]}"><ins></ins>{$r[catname]}</a></li>
      {/loop}
      </ul>
      {/pc}
    </div>
    <div class="wz"><a href="#"><img src="/statics/images/hucai/images/news_03.jpg" alt="虎彩文摘" /></a></div>
    </div>
    
    <div class="news_scroll">
  <div id="home_slider" class="flexslider block_home_slider">
    <div class="flex-viewport">
    {pc:content  action="position" posid="18" order="listorder DESC" num="4"}
      <ul class="slides">
      {loop $data $key $val}
        <li><a href="{$val['url']}"><img src="{$val['thumb']}" /><img src="$val['thumb']}" class="other" /></a>
        	 <span class="shadow"><a target="_blank" href="{$val['url']}">{$val['title']}</a></span>
        </li>
        {/loop}
      </ul>
      {/pc}
      <script type="text/javascript">
$(function () {
	$('#home_slider').flexslider({
		animation : 'slide',
		controlNav : true,
		directionNav : true,
		animationLoop : true,
		slideshow : true,
		slideshowSpeed:10000,
		useCSS : false
	});
	
});
</script> 
    </div>
  </div>
  
  
 
  
  </div>
    <div class="clear"></div>
    <div class="news_main">
    		<div class="news_one">
            		<div class="titlebg"><div class="title">虎彩新闻</div></div>
                    <div class="n_left">
                    		{pc:content  action="position" posid="19" order="listorder DESC" num="2"}
                    		<ul>
                    		{loop $data $key $val}
                            	<li><a href="{$val['url']}"><img src="{$val['thumb']}" /></a>
                                	<h3 class="t"><a href="#">{$val['title']}</a></h3>
                                    <p>{$val[description]}</p>
                                </li>
                                {/loop}
                                
                            </ul>
                            {/pc}
                    </div>
                    <div class="n_right">
                     {pc:content  action="lists" catid="8" order="listorder ASC" thumb="1" num="8"}
                    	 <ul>
                    	 {loop $data $key $val}
                            <li><span class="date">{date('Y-m-d H:i:s',$val['inputtime'])}</span><a href="{{$val['url']}}">{$val['title']}</a></li>
                    	{/loop}
                    </ul>
                    {/pc}
                    </div>
            </div>
          <div class="clear"></div>
          <div class="news_two">
            		<div class="titlebg"><div class="title">产品动态</div></div>
            		   {pc:content  action="lists" catid="9" order="listorder ASC" thumb="1" num="4"}
				    <ul>
				     {loop $data $key $val}
				    <li><a href="{$val[url]}"><img src="{$val[thumb]}" /><p>{$val[title]}</p></a></li>
					{/loop}
					</ul>
					{/pc}

            </div>
           <div class="clear"></div>
           <div class="news_three">
            		<div class="titlebg"><div class="title">行业洞察</div></div>
                    <div class="n_top">
                     {pc:content  action="lists" catid="7" order="listorder DESC"  num="2"}
                    		<ul>
                    		{loop $data $key $val}
                            	<li><a href="{$val[url]}"><img style='width:200px;height:130px' src="{$val[thumb]}" /></a>
                                	<h3 class="t"><a href="#">{$val[title]}</a></h3>
                                    <p>{$val[description]}</p>
                                    <p><a href="{$val[url]}">[详细]</a></p>
                                </li>
							{/loop}
                            </ul>
                     {/pc}
                    </div>
                    <div class="n_bot">
                     {pc:get sql="select * from hc_news where catid=7 ORDER BY id DESC" start=2}
                    	 <ul>
                    	 {loop $data $key $val}
                            <li><span class="date">{date('Y-m-d H:i:s',$val['inputtime'])}</span><a href="{$val[url]}">{$val[title]}</a></li>
                         {/loop}
                         </ul>
                     {/pc}
                    
                    </div>
            </div> 
            
    </div>
    
  </div>
{template "content","footer"}