{template "content","header"}
<div class="products">
  <div id="home_slider" class="flexslider block_home_slider pflash">
    <div class="flex-viewport"  id="flex_viewport">
      <script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=12"></script>
    </div>
  </div>
  <div class="products_showbg">
    <div class="products_show">
      <div class="products_01">
        <div class="titlebg">
          <span class="words">
          {pc:content action="category" catid="10" num="6" siteid="$siteid" order="listorder ASC"}
          {loop $data $r}
          <a href="{$r[url]}">{$r[catname]}</a>
          {/loop}{/pc}
          {pc:content action="category" catid="11" num="6" siteid="$siteid" order="listorder ASC"}
          {loop $data $r}
          <a href="{$r[url]}">{$r[catname]}</a>
          {/loop}{/pc}
          </span>
          <div class="title">高端印品·创新印品</div>
        </div>
        <div class="cont"> 
        {pc:content  action="position" posid="20" order="listorder ASC" num="1" catid="10,11"}
          {loop $data $k $r}
          <div class="pr1">
            <span>
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],460,380)}" alt="{$r[title]}" width="460" height="380" /></a>
            </span>
          </div>
          {/loop}
          {/pc}
          {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="2" catid="10,11"}
          {loop $data $k $r}
          <div class="pr2">
            <span>
            <a href="{$r[url]}" title="{$r[title]}"><img  src="{thumb($r[thumb],226,380)}" alt="{$r[title]}"  width="226" height="380" /></a>
            </span>
          </div>
          {/loop}
          {/pc}
          <div class="pr3">
            <span class="s1">
            {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="3" catid="10,11"}
            {loop $data $k $r}
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],226,185)}" alt="{$r[title]}"  width="226" height="185" /></a>
            {/loop}
            {/pc}</span>
            <span class="s2">
            {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="4" catid="10,11"}
            {loop $data $k $r}
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],226,185)}" alt="{$r[title]}" width="226" height="185" /></a>
            {/loop}
            {/pc}</span>
          </div>
          {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="5" catid="10,11"}
          {loop $data $k $r}
          <div class="pr4">
            <span>
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],226,380)}" alt="{$r[title]}" width="226" height="380" /></a>
            </span>
          </div>
          {/loop}
          {/pc} </div>
      </div>
      <div class="products_02">
        <div class="titlebg">
          <span class="words">
          {pc:content action="category" catid="12" num="6" siteid="$siteid" order="listorder ASC"}
          {loop $data $r}
          <a href="{$r[url]}">{$r[catname]}</a>
          {/loop}{/pc}</span>
          <div class="title">个性影像</div>
        </div>
        <div class="cont"> 
        {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="1" catid="12"}
          {loop $data $k $r}
          <div class="pr1">
            <span>
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],226,380)}" alt="{$r[title]}" width="226" height="380"  /></a>
            </span>
          </div>
          {/loop}
          {/pc}
          <div class="pr2">
            <span class="s1">
            {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="2" catid="12"}
            {loop $data $k $r}
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],462,185)}" alt="{$r[title]}" width="462" height="185"  /></a>
            {/loop}
            {/pc}</span>
            <span class="s2">
            {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="3" catid="12"}
            {loop $data $k $r}
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],226,185)}" alt="{$r[title]}" width="226" height="185" /></a>
            {/loop}
            {/pc}</span>
            <span class="s3">
            {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="4" catid="12"}
            {loop $data $k $r}
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],226,185)}" alt="{$r[title]}" width="226" height="185"  /></a>
            {/loop}
            {/pc}</span>
          </div>
          {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="5" catid="12"}
          {loop $data $k $r}
          <div class="pr3">
            <span>
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],462,380)}" alt="{$r[title]}" width="462" height="380"  /></a>
            </span>
          </div>
          {/loop}
          {/pc} </div>
      </div>
      <div class="products_03">
        <div class="titlebg">
          <span class="words">
          {pc:content action="category" catid="14" num="6" siteid="$siteid" order="listorder ASC"}
          {loop $data $r}
          <a href="{$r[url]}">{$r[catname]}</a>
          {/loop}{/pc}</span>
          <div class="title">按需印刷</div>
        </div>
        <div class="cont">
          <div class="pr1">
            <span class="s1">
            {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="1" catid="14"}
            {loop $data $k $r}
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],226,185)}" alt="{$r[title]}" width="226" height="185"  /></a>
            {/loop}
            {/pc}</span>
            <span class="s2">
            {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="2" catid="14"}
            {loop $data $k $r}
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],226,185)}" alt="{$r[title]}" width="226" height="185"  /></a>
            {/loop}
            {/pc}</span>
          </div>
          {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="3" catid="14"}
          {loop $data $k $r}
          <div class="pr2">
            <span>
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],462,380)}" alt="{$r[title]}" width="462" height="380"  /></a>
          </div>
          {/loop}
          {/pc}
          <div class="pr3">
            <span class="s1">
            {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="4" catid="14"}
            {loop $data $k $r}
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],226,185)}" alt="{$r[title]}" width="226" height="185"  /></a>
            {/loop}
            {/pc}</span>
            <span class="s2">
            {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="5" catid="14"}
            {loop $data $k $r}
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],226,185)}" alt="{$r[title]}" width="226" height="185"  /></a>
            {/loop}
            {/pc}</span>
          </div>
          {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="6" catid="14"}
          {loop $data $k $r}
          <div class="pr4">
            <span>
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],226,380)}" alt="{$r[title]}" width="226" height="380"  /></a>
            </span>
          </div>
          {/loop}
          {/pc} </div>
      </div>
      <div class="products_04">
        <div class="titlebg">
          <span class="words">
          {pc:content action="category" catid="13" num="6" siteid="$siteid" order="listorder ASC"}
          {loop $data $r}
          <a href="{$r[url]}">{$r[catname]}</a>
          {/loop}{/pc}</span>
          <div class="title">个性包装</div>
        </div>
        <div class="cont"> 
        {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="1" catid="13"}
          {loop $data $k $r}
          <div class="pr1">
            <span>
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],285,380)}" alt="{$r[title]}" width="285" height="380"  /></a>
            </span>
          </div>
          {/loop}
          {/pc}
          <div class="pr2">
            <span class="s1">
            {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="2" catid="13"}
            {loop $data $k $r}
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],285,185)}" alt="{$r[title]}" width="285" height="185"  /></a>
            {/loop}
            {/pc}</span>
            <span class="s2">
            {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="3" catid="13"}
            {loop $data $k $r}
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],285,185)}" alt="{$r[title]}" width="285" height="185"  /></a>
            {/loop}
            {/pc}</span>
          </div>
        </div>
      </div>
      <div class="products_04 products_05">
        <div class="titlebg">
          <span class="words">
          {pc:content action="category" catid="15" num="6" siteid="$siteid" order="listorder ASC"}
          {loop $data $r}
          <a href="{$r[url]}">{$r[catname]}</a>
          {/loop}{/pc}</span>
          <div class="title">镭射防伪</div>
        </div>
        <div class="cont"> 
        {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="1" catid="15"}
          {loop $data $k $r}
          <div class="pr1">
            <span>
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],285,380)}" alt="{$r[title]}" width="285" height="380"  /></a>
            </span>
          </div>
          {/loop}
          {/pc}
          <div class="pr2">
            <span class="s1">
            {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="2" catid="15"}
            {loop $data $k $r}
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],285,185)}" alt="{$r[title]}" width="285" height="185"  /></a>
            {/loop}
            {/pc}</span>
            <span class="s2">
            {pc:content  action="position" posid="20" order="listorder ASC" num="1" page="3" catid="15"}
            {loop $data $k $r}
            <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],285,185)}" alt="{$r[title]}" width="285" height="185"  /></a>
            {/loop}
            {/pc}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{template "content","footer"}