{template "content","header"}
<div class="products">
  <div id="home_slider" class="flexslider block_home_slider pflash">
    <div class="flex-viewport"  id="flex_viewport">
      <script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=12"></script>
    </div>
  </div>
  <div class="products_showbg">
    <div class="products_show">
      <div class="products_01">
        <div class="titlebg">
          <span class="words">
          {pc:content action="category" catid="10" num="6" siteid="$siteid" order="listorder ASC"}
          {loop $data $r}
          <a href="{$r[url]}">{$r[catname]}</a>
          {/loop}{/pc}
          {pc:content action="category" catid="11" num="6" siteid="$siteid" order="listorder ASC"}
          {loop $data $r}
          <a href="{$r[url]}">{$r[catname]}</a>
          {/loop}{/pc}
          </span>
          <div class="title">高端印品·创新印品</div>
        </div>
        <div class="cont"> 
        {pc:content action="poster" spaceid="13" num="1" page="1"}
          {loop $data $k $r}
          <div class="pr1">
            <span>
            
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img src="{thumb($r[setting][1][imageurl],460,380)}" alt="{$r[name]}" width="460" height="380" /></a>
            </span>
          </div>
          {/loop}
          {/pc}
          {pc:content action="poster" spaceid="13" num="1" page="2"}
          {loop $data $k $r}
          <div class="pr2">
            <span>
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],226,380)}" alt="{$r[name]}"  width="226" height="380" /></a>
            </span>
          </div>
          {/loop}
          {/pc}
          <div class="pr3">
            <span class="s1">
            {pc:content action="poster" spaceid="13" num="1" page="3"}
          {loop $data $k $r}
            <?php $setting = string2array($r[setting])?>
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],226,185)}" alt="{$r[name]}"  width="226" height="185" /></a>
            {/loop}
            {/pc}</span>
            <span class="s2">
            {pc:content action="poster" spaceid="13" num="1" page="4"}
          {loop $data $k $r}
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],226,185)}" alt="{$r[name]}" width="226" height="185" /></a>
            {/loop}
            {/pc}</span>
          </div>
          {pc:content action="poster" spaceid="13" num="1" page="5"}
          {loop $data $k $r}
          <div class="pr4">
            <span>
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],226,380)}" alt="{$r[name]}" width="226" height="380" /></a>
            </span>
          </div>
          {/loop}
          {/pc} </div>
      </div>
      <div class="products_02">
        <div class="titlebg">
          <span class="words">
          {pc:content action="category" catid="12" num="6" siteid="$siteid" order="listorder ASC"}
          {loop $data $r}
          <a href="{$r[url]}">{$r[catname]}</a>
          {/loop}{/pc}</span>
          <div class="title">个性影像</div>
        </div>
        <div class="cont"> 
        {pc:content action="poster" spaceid="14" num="1" page="1"}
          {loop $data $k $r}
          <div class="pr1">
            <span>
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],226,380)}" alt="{$r[name]}" width="226" height="380"  /></a>
            </span>
          </div>
          {/loop}
          {/pc}
          <div class="pr2">
            <span class="s1">
            {pc:content action="poster" spaceid="14" num="1" page="2"}
            {loop $data $k $r}
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],462,185)}" alt="{$r[name]}" width="462" height="185"  /></a>
            {/loop}
            {/pc}</span>
            <span class="s2">
            {pc:content action="poster" spaceid="14" num="1" page="3"}
            {loop $data $k $r}
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],226,185)}" alt="{$r[name]}" width="226" height="185" /></a>
            {/loop}
            {/pc}</span>
            <span class="s3">
            {pc:content action="poster" spaceid="14" num="1" page="4"}
            {loop $data $k $r}
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],226,185)}" alt="{$r[name]}" width="226" height="185"  /></a>
            {/loop}
            {/pc}</span>
          </div>
          {pc:content action="poster" spaceid="14" num="1" page="5"}
          {loop $data $k $r}
          <div class="pr3">
            <span>
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],462,380)}" alt="{$r[name]}" width="462" height="380"  /></a>
            </span>
          </div>
          {/loop}
          {/pc} </div>
      </div>
      <div class="products_03">
        <div class="titlebg">
          <span class="words">
          {pc:content action="category" catid="14" num="6" siteid="$siteid" order="listorder ASC"}
          {loop $data $r}
          <a href="{$r[url]}">{$r[catname]}</a>
          {/loop}{/pc}</span>
          <div class="title">按需印刷</div>
        </div>
        <div class="cont">
          <div class="pr1">
            <span class="s1">
            {pc:content action="poster" spaceid="15" num="1" page="1"}
            {loop $data $k $r}
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],226,185)}" alt="{$r[name]}" width="226" height="185"  /></a>
            {/loop}
            {/pc}</span>
            <span class="s2">
            {pc:content action="poster" spaceid="15" num="1" page="2"}
            {loop $data $k $r}
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],226,185)}" alt="{$r[name]}" width="226" height="185"  /></a>
            {/loop}
            {/pc}</span>
          </div>
          {pc:content action="poster" spaceid="15" num="1" page="3"}
          {loop $data $k $r}
          <div class="pr2">
            <span>
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],462,380)}" alt="{$r[name]}" width="462" height="380"  /></a>
          </div>
          {/loop}
          {/pc}
          <div class="pr3">
            <span class="s1">
            {pc:content action="poster" spaceid="15" num="1" page="4"}
            {loop $data $k $r}
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],226,185)}" alt="{$r[name]}" width="226" height="185"  /></a>
            {/loop}
            {/pc}</span>
            <span class="s2">
            {pc:content action="poster" spaceid="15" num="1" page="5"}
            {loop $data $k $r}
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],226,185)}" alt="{$r[name]}" width="226" height="185"  /></a>
            {/loop}
            {/pc}</span>
          </div>
          {pc:content action="poster" spaceid="15" num="1" page="6"}
          {loop $data $k $r}
          <div class="pr4">
            <span>
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],226,380)}" alt="{$r[name]}" width="226" height="380"  /></a>
            </span>
          </div>
          {/loop}
          {/pc} </div>
      </div>
      <div class="products_04">
        <div class="titlebg">
          <span class="words">
          {pc:content action="category" catid="13" num="6" siteid="$siteid" order="listorder ASC"}
          {loop $data $r}
          <a href="{$r[url]}">{$r[catname]}</a>
          {/loop}{/pc}</span>
          <div class="title">个性包装</div>
        </div>
        <div class="cont"> 
        {pc:content action="poster" spaceid="16" num="1" page="1"}
          {loop $data $k $r}
          <div class="pr1">
            <span>
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],285,380)}" alt="{$r[name]}" width="285" height="380"  /></a>
            </span>
          </div>
          {/loop}
          {/pc}
          <div class="pr2">
            <span class="s1">
            {pc:content action="poster" spaceid="16" num="1" page="2"}
            {loop $data $k $r}
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],285,185)}" alt="{$r[name]}" width="285" height="185"  /></a>
            {/loop}
            {/pc}</span>
            <span class="s2">
            {pc:content action="poster" spaceid="16" num="1" page="3"}
            {loop $data $k $r}
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],285,185)}" alt="{$r[name]}" width="285" height="185"  /></a>
            {/loop}
            {/pc}</span>
          </div>
        </div>
      </div>
      <div class="products_04 products_05">
        <div class="titlebg">
          <span class="words">
          {pc:content action="category" catid="15" num="6" siteid="$siteid" order="listorder ASC"}
          {loop $data $r}
          <a href="{$r[url]}">{$r[catname]}</a>
          {/loop}{/pc}</span>
          <div class="title">镭射防伪</div>
        </div>
        <div class="cont"> 
        {pc:content action="poster" spaceid="17" num="1" page="1"}
          {loop $data $k $r}
          <div class="pr1">
            <span>
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],285,380)}" alt="{$r[name]}" width="285" height="380"  /></a>
            </span>
          </div>
          {/loop}
          {/pc}
          <div class="pr2">
            <span class="s1">
            {pc:content action="poster" spaceid="17" num="1" page="2"}
            {loop $data $k $r}
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],285,185)}" alt="{$r[name]}" width="285" height="185"  /></a>
            {/loop}
            {/pc}</span>
            <span class="s2">
           {pc:content action="poster" spaceid="17" num="1" page="3"}
            {loop $data $k $r}
            <a href="{siteurl($siteid)}/index.php?m=poster&c=index&a=poster_click&siteid={$siteid}&id={$r[id]}" title="{$r[name]}"><img  src="{thumb($r[setting][1][imageurl],285,185)}" alt="{$r[name]}" width="285" height="185"  /></a>
            {/loop}
            {/pc}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{template "content","footer"}