<div class="f1">
  <div class="f2">
    <div class="footNav"> {pc:get sql="SELECT * FROM hc_category WHERE ishelp = 1 AND ismenu = 1 " num="4" siteid="$siteid"  return="data"}
      {loop $data $key $val}
      <dl>
        {pc:content action="category" catid="$val[catid]" num="6" siteid="$siteid" order="listorder ASC"}
        <dt><a href="{$val[url]}">{$val[catname]}</a></dt>
        {loop $data $r}
        <dd><a href="{$r[url]}">{$r[catname]}</a></dd>
        {/loop}
      </dl>
      {/loop}
      {/pc}
      </dl>
    </div>
    <div class="share"> <img src="{IMG_PATH}hucai/bg/bg18.gif" />
      <ul>
        <li><a href="#"><img src="{IMG_PATH}hucai/bg/png5.png" /></a></li>
        <li><a href="#"><img src="{IMG_PATH}hucai/bg/png6.png" /></a></li>
        <li><a href="#"><img src="{IMG_PATH}hucai/bg/png7.png" /></a></li>
        <li><a href="#"><img src="{IMG_PATH}hucai/bg/png8.png" /></a></li>
        <li><a href="#"><img src="{IMG_PATH}hucai/bg/png9.png" /></a></li>
      </ul>
      <div class="clear"></div>
      <img src="{IMG_PATH}hucai/bg/png10.png" style="margin:10px 0 0 30px;" /> </div>
    <div class="clear"></div>
    <div class="f3">
      <div class="brand"><span>服务品牌</span> {pc:link  action="type_list" typeid="55" siteid="$siteid"  order="listorder DESC" num="8" return="pic_link"}
        {loop $pic_link $v} <i>{$v['name']}</i> {/loop}
        {/pc} </div>
      <div class="site"><a href="#">申请友情链接</a><cite>|</cite><a href="#">法律声明</a><cite>|</cite><a href="#">隐私保护</a><cite>|</cite><a href="#">网站地图</a><cite></cite><b class="qy">旗下企业
        <div>{pc:link  action="type_list" typeid="56" siteid="$siteid"  order="listorder DESC" num="10" return="pic_link"}
        {loop $pic_link $v}<a  href="{$v['url']}" title="{$v['name']}" target="_blank">{$v['name']}</a> {/loop}
        {/pc}</div>
        </b></div>
      <div class="clear"></div>
    </div>
    <div class="copy">Copyright © 1988-2015 虎彩印艺股份有限公司 版权所有© 粤ICP备06001687号</div>
  </div>
</div>
</div>
<div class="rightBar"> <a class="close"><img src="{IMG_PATH}hucai/bg/mobile_menu_closes.png" /></a>
  <ul class="rightMenu">
    <li><a class="r">首页</a></li>
    <li><a class="r">新闻中心</a>
      <div>
        <dl>
          <dd><a href="#">新闻中心</a></dd>
          <dd><a href="#">新闻中心</a></dd>
          <dd><a href="#">新闻中心</a></dd>
          <dd><a href="#">新闻中心</a></dd>
        </dl>
      </div>
    </li>
    <li><a class="r">印艺产品</a>
      <div>
        <dl>
          <dd><a href="#">新闻中心</a></dd>
          <dd><a href="#">新闻中心</a></dd>
          <dd><a href="#">新闻中心</a></dd>
          <dd><a href="#">新闻中心</a></dd>
        </dl>
      </div>
    </li>
    <li><a class="r">解决方案</a>
      <div>
        <dl>
          <dd><a href="#">新闻中心</a></dd>
          <dd><a href="#">新闻中心</a></dd>
          <dd><a href="#">新闻中心</a></dd>
          <dd><a href="#">新闻中心</a></dd>
        </dl>
      </div>
    </li>
    <li><a class="r">线上定制</a></li>
    <li><a class="r">服务支持</a></li>
    <li><a class="r">品牌活动</a></li>
  </ul>
  <script type="text/javascript">

$(function(){
	$(".menu").click(function(){
		$(this).parents("html").addClass("overflow");
		$(this).parents().find(".leftCon").stop().animate({left:"-50%"},500);
		$(this).parents().find(".rightBar").stop().animate({right:"0"},500);
		$(window).resize(function() { resizeleft();});
		function resizeleft(){
		var bodyW=$(window).width();
		if(bodyW>980){
			$(".leftCon").stop().animate({left:"0"},500)
			$(".rightBar").stop().animate({right:"-50%"},500);
			$("html").removeClass("overflow");
			$(".serch").css("height","0");
		}
	}
	resizeleft();
	})
	$(".close").click(function(){
		$(this).parents("html").removeClass("overflow");
		$(this).parents().find(".leftCon").stop().animate({left:"0"},500);
		$(this).parents().find(".rightBar").stop().animate({right:"-50%"},500);
	})
	$(".rightMenu li a.r").click(function(){
		$(this).parent().find("div").slideToggle("slow");
		$(this).toggleClass("active");
		$(this).parent().siblings().find("div").slideUp();
		$(this).parent().siblings().find("a.r").removeClass("active");
	})
	
	//$(".rightMenu li a.r").click(function(){
//		$(this).parent().find("div").stop().animate({height:$(this).parent().find("dd").size()*50+4},500);
//		$(this).parent().siblings().find("div").stop().animate({height:0},500)
//	})
	//$(".rightMenu li a.r").toggle(function(){
//    $(this).parent().find("div").stop().animate({height:$(this).parent().find("dd").size()*51+4},500);
//	$(this).parent().siblings().find("div").stop().animate({height:0},500)},
//    function(){
//    $(this).parent().find("div").stop().animate({height:0},500)}
 // );
})

</script> 
</div>
</body></html>