<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="{CSS_PATH}hucai/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}hucai/jquery-1.8.3.js"></script>
<script type="text/javascript" src="{JS_PATH}hucai/slider.js"></script>
</head>
<body>
<div class="leftCon">
<div class="topbg">
  <div class="top"><a href="{siteurl($siteid)}/" class="active">首页</a><!--<a href="#">微信</a>--><a href="#">微博</a><a href="#">邮箱登陆</a></div>
</div>
<div class="head">
  <h1><a href="{siteurl($siteid)}/"><img src="{IMG_PATH}hucai/bg/logo.gif" /></a></h1>
  <div class="smallIco"><a href="#">虎彩</a><em>|</em><a href="#">让印刷走进千家万户</a><a href="#"><img src="{IMG_PATH}hucai/bg/bg10.gif" /></a><!--<a href="#"><img src="{IMG_PATH}hucai/bg/bg11.gif" /></a>--><a href="#"><img src="{IMG_PATH}hucai/bg/bg12.gif" /></a></div>
  <div class="closeNav"><span class="click"></span><i class="menu"></i></div>
  <div class="clear"></div>
</div>
<div class="serch">
  <form>
    <input type="text" class="text" value="" />
    <input type="submit" value="" class="sub" />
  </form>
</div>
<div class="navi">
  <div class="nav">
    <ul>
      {pc:content action="category" catid="0" num="6" siteid="$siteid" order="listorder ASC"}
      <li class="first"><a href="#"><i>我想</i></a></li>
      {loop $data $r}
      <li><a href="{$r[url]}" class="n">{$r[catname]}</a></li>
      {/loop}
      {/pc}
    </ul>
    <form action="{APP_PATH}index.php" method="get" target="_blank">
      <input type="hidden" name="m" value="search"/>
      <input type="hidden" name="c" value="index"/>
      <input type="hidden" name="a" value="init"/>
      <input type="hidden" name="typeid" value="{$typeid}" id="typeid"/>
      <input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
      <input type="text" class="text" name="q" id="q"/>
      <input type="submit" value="" class="sub" />
    </form>
  </div>
  <div class="openNav">
    <div class="openNavi"></div>
    {pc:content action="category" catid="0" num="6" siteid="$siteid" order="listorder ASC"}
    {loop $data $r}
    {pc:content action="category" catid="$r[catid]" num="25" siteid="$siteid" order="listorder ASC"}
    <div class="openNavi" {if !$data} style="display:none;"{/if}>
      <div class="leftNav"> {loop $data $r1}
        <dl>
          <dt><a href="{$r1[url]}">{$r1[catname]}</a></dt>
          {pc:content action="category" catid="$r1[catid]" num="25" siteid="$siteid" order="listorder ASC"}
          {loop $data $r2}
          <dd><a href="{$r2[url]}">{$r2[catname]}</a></dd>
          {/loop}
          {/pc}
        </dl>
        {/loop}
        {/pc} </div>
      <div class="rightImg"><a href="#"><img src="{IMG_PATH}hucai/bg/5.jpg" /></a></div>
      <div class="clear"></div>
    </div>
    {/loop}
    {/pc} 
    <script>

$(function(){
	$(".nav ul li").not($(".nav ul li:eq(0)")).hover(function(){
		var navNum = $(this).index();
		$(this).parents().find(".openNavi:eq("+navNum+")").stop().animate({height:$(".openNavi:eq("+navNum+")").find(".leftNav").height()+60},500);
		$(this).parents().find(".openNavi:eq("+navNum+")").siblings(".openNavi").stop().animate({height:"0"},500);
		$(".openNavi:eq("+navNum+")").hover(function(){
			$(this).stop().animate({height:"auto"});
	    },function(){
			$(this).stop().animate({height:"0"});
		})
	},function(){
		$(this).parents().find(".openNavi").stop().animate({height:0},500)
	})
	$(".click").toggle(function(){
    $(this).parents().find(".serch").stop().animate({height:"60px"},500)},
    function(){
    $(this).parents().find(".serch").stop().animate({height:"0"},500)}
  );
  $(".qy").toggle(function(){
    $(this).find("div").fadeIn()},
    function(){
    $(this).find("div").fadeOut()}
  );
})

</script> 
  </div>
</div>
