{template "content","header"}
<!--main-->
<div class="nybg">
  <div class="sidebarbg">
    <div class="sidebar">
      <h2 class="title">新闻中心</h2>
      {pc:get sql="SELECT * FROM hc_category  WHERE parentid=2 AND siteid=$siteid" return="data"}
      
      <ul style="padding-bottom:46px;">
      {loop $data $r}
        <li><a href="{$r[url]}"><ins></ins>{$r[catname]}</a></li>
      {/loop}
      </ul>
      {/pc}
    </div>
    <div class="wz"><a href="#"><img src="/statics/images/hucai/news_03.jpg" alt="虎彩文摘" /></a></div>
    </div>
     <div class="nymain">
     		 
             <div class="news_list">
             {pc:content action="lists" catid="$catid" num="2" order="listorder DESC" page="$page"}
                  <ul>
                   {loop $data $r}
                  <li style='float:none'><p class="ht"><span class="date">{date('Y-m-d H:i:s',$r['inputtime'])}</span><a href="{$r['url']}">{$r['title']}</a></p>
                  <p>{$r['description']}</p>
                  </li>   
                  {/loop}               
                  </ul>
                  {/pc}
                  <div class="fenye">
				{$pages}
				</div>
             	<!--<a href="#">上一页</a> <a class="select" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a>   <a href="#">5</a>    <a href="#">下一页</a>  &nbsp;&nbsp;&nbsp;&nbsp; 共15页 </div>   -->	
             </div>
             
            
             
            
     </div>
    
     
    
  </div>
{template "content","footer"}