{template "content","header"}
<div class="nybg">
    <div class="sidebarbg">
    <div class="sidebar">
      <h2 class="title">关于虎彩</h2>
      <ul>
        <li><a class="select" href="#"><ins></ins>虎彩概况</a></li>
        <li><a href="#"><ins></ins>虎彩历史</a></li>
        <li><a href="#"><ins></ins>品牌战略</a></li>
        <li><a href="#"><ins></ins>虎彩文化</a></li>
        <li><a href="#"><ins></ins>公益责任</a></li>
        <li><a href="#"><ins></ins>虎彩荣誉</a></li>
        <li><a href="#"><ins></ins>技术创新</a></li>
      </ul>
    </div></div>
    <div class="nymain">
      <h2 class="title"><span class="way">您现在的位置：首页 &gt; 关于虎彩 &gt; 虎彩概况</span> 虎彩概况</h2>
      <div class="content">
        <div class="gk">
         {$content}
          </div>
        </div>
      </div>
    </div>
  </div>

{template "content","footer"}