{template "content","header"}
<div class="main">
	<div class="nybg">
  <div class="sidebarbg">
    <div class="sidebar">
      <h2 class="title">新闻中心</h2>
       {pc:get sql="SELECT * FROM hc_category  WHERE parentid=2 AND siteid=$siteid" return="data"}
      <ul>
    {loop $data $r}
        <li><a href="{$r[url]}"><ins></ins>{$r[catname]}</a></li>
      {/loop}
      </ul>
       {/pc}
    </div>
    <div class="wz"><a href="#"><img src="/statics/images/hucai/news_03.jpg" alt="虎彩文摘" /></a></div>
    </div>
     <div class="nymain">
     		<div class="news_title">
               <h2>{$title}</h2>
               <p>来源：{$copyfrom} &nbsp;&nbsp; 作者：{$username} &nbsp;&nbsp;  时间：{date('Y-m-d H:i:s',$inputtime)}  &nbsp;&nbsp;  <span>点击：<span id="hits"></span>次</span></p>
             <script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
             </div>
             
            <div class="news_text">
            
            	{$content}    
            </div>
            
            <div class="news_fx">
            	<div class="fx_top">
                <div class="fx2">分享到 &nbsp; <a href="#"> 
                 <img src="http://v.t.qq.com/share/images/s/weiboicon16.png" style="padding-bottom:3px;" onclick="postToWb();" class="cu" title="分享到腾讯微博"/>
                 <script type="text/javascript">
	function postToWb(){
		var _t = encodeURI(document.title);
		var _url = encodeURIComponent(document.location);
		var _appkey = encodeURI("cba3558104094dbaa4148d8caa436a0b");
		var _pic = encodeURI('{$thumb}');
		var _site = '';
		var _u = 'http://v.t.qq.com/share/share.php?url='+_url+'&appkey='+_appkey+'&site='+_site+'&pic='+_pic+'&title='+_t;
		window.open( _u,'', 'width=700, height=680, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' );
	}
</script>
          <script type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url='+encodeURIComponent(location.href)+'&appkey=3172366919&title='+encodeURIComponent('{new_addslashes($title)}')+'" title="分享到新浪微博" class="t1" target="_blank"><img src="/statics/images/hucai/news_info_11.jpg" /></a>');</script>
		  <script type="text/javascript">document.write('<a href="http://www.douban.com/recommend/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('{new_addslashes($title)}')+'" title="分享到豆瓣" class="t2" target="_blank"><img src="/statics/images/hucai/news_info_13.jpg" /></a>');</script>
		  <script type="text/javascript">document.write('<a href="http://share.renren.com/share/buttonshare.do?link='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('{new_addslashes($title)}')+'" title="分享到人人" class="t3" target="_blank"><img src="/statics/images/hucai/news_info_15.jpg" /></a>');</script>
		  <script type="text/javascript">document.write('<a href="http://www.kaixin001.com/repaste/share.php?rtitle='+encodeURIComponent('{new_addslashes($title)}')+'&rurl='+encodeURIComponent(location.href)+'&rcontent=" title="分享到开心网" class="t4" target="_blank"><img src="/statics/images/hucai/news_info_17.jpg" /></a>');</script>
      
	  <span id='favorite'>
		<!-- <a href="javascript:;" onclick="add_favorite('{addslashes($title)}');" class="t6">收藏</a> -->
	  </span>
                </div>
                <div class="fx1"><span class="s2"></span> <span class="s1">标签： <a href="#">外文局</a>  <a href="#">签约</a> <a href="#">战略合作</a> <a href="#">文化发展</a> </span></div>
                </div>
                
                <div class="fx_bot">
                      <div class="fx2">
                        	<p><a class="next" href="{$next_page[url]}">下一篇&gt;</a></p>
                            <p><a href="{$next_page[url]}">{$next_page[title]}</a></p>
                        </div>
                        
                		<div class="fx1">
                        	<p><a class="prev" href="{$previous_page[url]}">&lt;上一篇</a></p>
                            <p><a href="{$previous_page[url]}">{$previous_page[title]}</a></p>
                        </div>
                        
                        
                </div>
                
                
            </div>
            
     </div>
    
     
    
  </div>

			
    
<script type="text/javascript">
<!--
	function show_ajax(obj) {
		var keywords = $(obj).text();
		var offset = $(obj).offset();
		var jsonitem = '';
		$.getJSON("{APP_PATH}index.php?m=content&c=index&a=json_list&type=keyword&modelid={$modelid}&id={$id}&keywords="+encodeURIComponent(keywords),
				function(data){
				var j = 1;
				var string = "<div class='point key-float'><div style='position:relative'><div class='arro'></div>";
				string += "<a href='JavaScript:;' onclick='$(this).parent().parent().remove();' hidefocus='true' class='close'><span>关闭</span></a><div class='contents f12'>";
				if(data!=0) {
				  $.each(data, function(i,item){
					j = i+1;
					jsonitem += "<a href='"+item.url+"' target='_blank'>"+j+"、"+item.title+"</a><BR>";
					
				  });
					string += jsonitem;
				} else {
					string += '没有找到相关的信息！';
				}
					string += "</div><span class='o1'></span><span class='o2'></span><span class='o3'></span><span class='o4'></span></div></div>";		
					$(obj).after(string);
					$('.key-float').mouseover(
						function (){
							$(this).siblings().css({"z-index":0})
							$(this).css({"z-index":1001});
						}
					)
					$(obj).next().css({ "left": +offset.left-100, "top": +offset.top+$(obj).height()+12});
				});
	}

	function add_favorite(title) {
		$.getJSON('{APP_PATH}api.php?op=add_favorite&title='+encodeURIComponent(title)+'&url='+encodeURIComponent(location.href)+'&'+Math.random()+'&callback=?', function(data){
			if(data.status==1)	{
				$("#favorite").html('收藏成功');
			} else {
				alert('请登录');
			}
		});
	}

$(function(){
  $('#Article .content img').LoadImage(true, 660, 660,'{IMG_PATH}s_nopic.gif');    
})
//-->
</script>

<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
{template "content","footer"}